body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#card {
    padding: 5%;
    background-color: lightblue;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}


img {
    border-radius: 10px;
}
